<?xml version="1.0" encoding="UTF-8"?>

<!--Dao层访问实现文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Gallifrey.springboot00.mapper.OutStockMapper">

<!--    查询全部出库信息 通过用户名或者仓库名（如果存在）-->
    <select id="getAllOutStock" resultType="com.Gallifrey.springboot00.bean.OutStock">
        select * from sellOut
        <if test="Cname!=null"> where Cname like #{Cname} or Gname like #{Cname} or Sname like #{Cname} </if>
--      分页语句
        limit #{pageStart},#{pageSize}
    </select>

<!--查询信息条数 -->
    <select id="getCounts" resultType="java.lang.Integer">
        select count(*) from sellOut
        <if test="Cname!= null">
        where Cname like #{Cname}
        </if>
    </select>

</mapper>