<?xml version="1.0" encoding="UTF-8"?>

<!--Dao层访问实现文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Gallifrey.springboot00.mapper.ProviderMapper">

<!--    查询全部信息 -->
    <select id="getAllList" resultType="com.Gallifrey.springboot00.bean.Provider">
        select * from provider
        <if test="name!=null"> where Pno like #{name} or Pname like #{name} or Paddr like #{name} </if>
--      分页语句
        limit #{pageStart},#{pageSize}
    </select>

<!--查询信息条数 -->
    <select id="getCounts" resultType="java.lang.Integer">
        select count(*) from provider
        <if test="name!= null">
            where Pno like #{name} or Pname like #{name} or Paddr like #{name}
        </if>
    </select>

</mapper>